altgraph==0.17.4
appnope==0.1.3
asttokens==2.2.1
attrs==18.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
black==23.3.0
blinker==1.7.0
certifi==2024.2.2
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
comm==0.1.3
contourpy==1.2.0
cryptography==43.0.1
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
deep-translator==1.11.4
executing==1.2.0
Flask==3.0.3
fonttools==4.50.0
idna==3.7
inquirerpy==0.3.4
ipykernel==6.22.0
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.3
joblib==1.3.2
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.5
macholib==1.16.3
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mypy-extensions==1.0.0
nest-asyncio==1.5.6
numpy==1.24.3
packaging==23.1
pandas==2.0.1
parso==0.8.3
pathspec==0.11.1
pdflatex==0.1.3
pdfminer.six==20231228
pdfplumber==0.11.4
pdfrw==0.4
pexpect==4.8.0
pfzy==0.3.4
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.4.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwinput==1.0.3
pycparser==2.22
Pygments==2.15.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
PyTermGUI==7.7.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.0.2
reportlab==4.2.2
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
soupsieve==2.5
stack-data==0.6.2
tabulate==0.9.0
threadpoolctl==3.3.0
tornado==6.3.1
traitlets==5.9.0
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.1
wcwidth==0.2.6
Werkzeug==3.0.2
